* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --raisin-black: #1d1e26;
    --alice-blue: #e6f7ffff;
    --medium-turquoise: #02ccc0ff;
    --spanish-pink: #ffc0bbff;
    --brink-pink: #ff5b7eff;
    --flirt: #9E0B63;
    --flirt-transparent: #9e0b635e;
}

@media(max-width: 1000px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background-color: var(--flirt);
    color: var(--raisin-black);
}

body, button, input, textarea {
    font: 400 1rem "Itim", cursive;
}

input, textarea {
    background-color: var(--alice-blue);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}